.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

a {
  text-decoration: underline;
}

a:hover {
  color: #0a2342;
}

.hero-image {
  width: 40vw;
}

.hero-wrap {
  width: 100vw;
  justify-content: flex-start;
}

.right-content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.heading {
  font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, sans-serif;
}

.paragraph {
  padding-left: 0;
  padding-right: 0;
}

.inner-hero-content-01 {
  max-width: 650px;
  background-color: #fffdf7;
  border: 1px solid #000;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px;
  display: flex;
}

.button-wrapper {
  align-items: center;
  margin-top: 20px;
  display: flex;
}

.hero-section-01 {
  width: 100%;
  height: auto;
  min-height: 70vh;
  background-image: url('../images/197917444_141275541397504_1762029807230413745_n.jpg');
  background-position: 90%;
  background-repeat: no-repeat;
  background-size: auto 110%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  display: flex;
}

.hero-section-01.uscca {
  background-image: url('../images/217660353_166877922170599_7281118300876113507_n.jpg');
  background-position: 0%;
  flex-direction: row;
}

.hero-content-01 {
  width: 100%;
  height: 100%;
  max-width: 1100px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.heading-1 {
  color: #000;
  text-transform: capitalize;
  margin-top: 0;
  font-size: 45px;
  font-weight: 600;
  line-height: 55px;
}

.secondary-button {
  color: #000;
  align-items: center;
  margin-left: 25px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-decoration: none;
  transition: all .2s;
  display: flex;
}

.secondary-button:hover {
  opacity: .8;
  transform: translate(5px);
}

.paragraph-2 {
  opacity: .75;
  color: #000;
  font-size: 16px;
  line-height: 22px;
}

.paragraph-2.no-bottom-pad {
  margin-bottom: 0;
}

.button {
  text-transform: none;
  background-color: #0a2342;
  border-radius: 0;
  padding: 13px 22px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  transition: all .2s;
}

.button:hover {
  opacity: .8;
}

.right-arrow {
  height: 15px;
  margin-top: 2px;
  margin-left: 7px;
}

.navbar {
  background-color: rgba(221, 221, 221, 0);
}

.section-title {
  color: #0a2342;
  text-transform: none;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-decoration: none;
}

.card-content-01 {
  width: 90%;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  margin-top: -90px;
  padding: 0;
}

.inner-card-content-01 {
  padding: 20px;
}

.card-01-grid {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 30px;
}

.card-01 {
  width: 100%;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.card-01-button {
  width: 100%;
  text-align: center;
  text-transform: none;
  background-color: #0a2342;
  border-radius: 0;
  padding: 13px 22px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  transition: all .2s;
}

.card-01-button:hover {
  opacity: .8;
}

.card-image {
  width: 100%;
  height: 225px;
  background-image: url('../images/199163977_141275768064148_191177828087946672_n.jpg');
  background-position: 50%;
  background-size: cover;
  border: 1px #dbdbdb;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.card-image._2 {
  background-image: url('../images/217695710_166877985503926_3083004733843663086_n.jpg');
  background-position: 50% 30%;
  background-size: cover;
}

.card-image._3 {
  background-image: url('../images/198834161_141275568064168_8665531383867036829_n.jpg'), url('../images/199163977_141275768064148_191177828087946672_n.jpg');
  background-position: 100% 144%, 50%;
  background-size: cover, cover;
}

.heading-2 {
  margin-top: 0;
  font-size: 35px;
  font-weight: 600;
  line-height: 45px;
}

.heading-3 {
  margin-top: 0;
  font-size: 21px;
  font-weight: 600;
}

.cards-01-inner-wrap {
  width: 100%;
  max-width: 1100px;
}

.section-2 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
}

.brand-link {
  align-items: center;
  font-size: 23px;
  font-weight: 700;
  display: flex;
}

.brand-link.in-footer {
  margin-bottom: 15px;
}

.socials-in-footer {
  height: auto;
  border-left: 1px #dbdbdb;
  justify-content: flex-end;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
}

.globe {
  margin-right: 0;
}

.logo-txt {
  color: #000;
  margin-top: 3px;
  line-height: 23px;
}

.footer-section-02 {
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
}

.blue {
  color: #3b2ae5;
}

.platform-icon {
  max-width: 50px;
  background-color: rgba(59, 42, 229, 0);
  justify-content: center;
  align-items: center;
  margin-right: 0;
  padding: 4px;
  display: flex;
}

.legal-info {
  opacity: 1;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-decoration: none;
}

.legal-info.small-footer {
  margin-top: 0;
}

.footer-wrap-02 {
  width: 100%;
  max-width: 1100px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer-spacer {
  width: 20px;
  height: 20px;
  min-height: 20px;
  min-width: 20px;
  flex: 0 auto;
}

.social-link-nav {
  color: #3b2ae5;
  align-items: center;
  margin-left: 20px;
  margin-right: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-decoration: none;
  transition: all .2s;
  display: flex;
}

.social-link-nav:hover {
  opacity: .8;
}

.container {
  max-width: 100%;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.nav-link {
  font-family: Merriweather, serif;
}

.dropdown-list {
  background-color: #8f8a8a;
}

.dropdown-list.w--open {
  background-color: #fffdf7;
  border-radius: 0 0 10px 10px;
}

.hero-content-03 {
  width: 100%;
  height: 100%;
  max-width: 1100px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.inner-hero-content-03 {
  max-width: none;
  background-color: rgba(0, 0, 0, 0);
  border: 1px #dbdbdb;
  border-left: 5px solid #3b2ae5;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 500px 0 40px;
  display: flex;
}

.hero-section-03 {
  border-bottom: 1px solid #dbdbdb;
  justify-content: center;
  align-items: center;
  padding-top: 175px;
  padding-bottom: 175px;
  display: flex;
  position: relative;
}

.hero-03-image-wrap {
  width: 50vw;
  height: 400px;
  background-image: url('../images/217660353_166877922170599_7281118300876113507_n.jpg'), url('../images/man-on-computer.jpg');
  background-position: 100%, 50%;
  background-size: cover, cover;
  border: 1px solid #dbdbdb;
  border-right-style: none;
  position: absolute;
  top: auto;
  bottom: auto;
  left: auto;
  right: 0%;
}

.button-2 {
  text-transform: none;
  background-color: #3b2ae5;
  border-radius: 0;
  padding: 13px 22px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  transition: all .2s;
}

.button-2:hover {
  opacity: .8;
}

.button-2.nav {
  text-transform: none;
  background-color: #0a2342;
  border-radius: 0;
  font-size: 16px;
  transition: all .2s;
}

.button-2.nav:hover {
  opacity: .8;
}

.div-block {
  width: 100vw;
}

.heading-4 {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: Lato, sans-serif;
  font-size: 4.1em;
  line-height: 1.45;
  display: flex;
}

.body {
  background-color: #fffdf7;
}

.paragraph-3 {
  text-align: center;
  margin-bottom: 35px;
  padding-left: 176px;
  padding-right: 176px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 20px;
  line-height: 1.2;
}

.section-3 {
  background-color: #fff;
  background-image: url('../images/joel-moysuh--VRtZv7SUbU-unsplash.jpg');
  background-position: 50%;
  background-size: cover;
  margin-left: 5vw;
  margin-right: 5vw;
}

.section-4 {
  background-color: #fff;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  position: relative;
}

.div-block-2 {
  width: 50vw;
  position: relative;
  top: -75px;
}

.image {
  position: relative;
}

.section-5 {
  background-color: rgba(255, 255, 255, 0);
  margin-top: 80px;
}

.section-5.classes {
  margin-top: 0;
  margin-bottom: 50px;
}

.div-block-3 {
  margin-top: -35px;
}

.container-2 {
  height: 660px;
  max-width: 90vw;
  background-color: #fff;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  box-shadow: 1px 1px 2px #000;
}

.div-block-4 {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  top: -93px;
}

.div-block-4.class-1 {
  justify-content: center;
  align-items: center;
  position: static;
}

.div-block-4.class-1.class-2 {
  flex-direction: row;
}

.image-3 {
  border: 2px solid #000;
  border-radius: 13px;
}

.heading-5 {
  text-align: center;
  font-family: Lato, sans-serif;
  font-size: 35px;
  font-weight: 700;
}

.columns {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  top: -46px;
}

.column {
  padding-left: 0;
  padding-right: 0;
}

.paragraph-4 {
  padding-left: 20px;
  padding-right: 20px;
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.45;
}

.paragraph-5 {
  direction: ltr;
  white-space: normal;
  object-fit: fill;
}

.list {
  list-style-type: disc;
}

.column-2, .paragraph-6 {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  line-height: 1.45;
}

.paragraph-6.classes {
  padding-left: 0;
  padding-right: 0;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 15px;
  line-height: 1.7;
}

.paragraph-6.classes._2 {
  margin-bottom: 40px;
  padding-left: 40px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 16px;
  line-height: 2.1;
}

.paragraph-6.class {
  text-align: justify;
  padding-left: 48px;
  padding-right: 48px;
  font-size: 16px;
  line-height: 1.45;
}

.location-title {
  opacity: 1;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}

.footer-link {
  opacity: .8;
  color: #000;
  margin-bottom: 15px;
  font-size: 16px;
  text-decoration: none;
  transition: all .2s;
  display: flex;
}

.footer-link:hover {
  opacity: 1;
  color: #3b2ae5;
}

.section-title-2 {
  color: #3b2ae5;
  text-transform: none;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-decoration: none;
}

.section-title-2.footer {
  color: #0a2342;
  margin-bottom: 20px;
}

.footer-01-bottom {
  width: 100%;
  max-width: 1100px;
  border-top: 1px solid #dbdbdb;
  justify-content: space-between;
  margin-top: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
}

.footer-section-01 {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 0;
  display: flex;
}

.location-wrap {
  margin-top: 20px;
}

.globe-2 {
  max-width: 40px;
  margin-right: 10px;
}

.services-wrap-footer {
  margin-top: 0;
}

.grid-sec-2 {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.grid-sec-1 {
  flex-direction: column;
  align-items: flex-start;
  padding-right: 80px;
  display: flex;
}

.footer-01-div {
  width: 100%;
  max-width: 1100px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.body-2 {
  background-color: #fffdf7;
}

.nav-inner {
  width: 100%;
  max-width: 1100px;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}

.nav-wrapper-01 {
  background-color: rgba(255, 255, 255, 0);
  justify-content: center;
  display: flex;
}

.nav-link-2 {
  color: #000;
  text-transform: none;
  border: 1px #000;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: 700;
  transition: all .2s;
}

.nav-link-2:hover {
  color: #3b2ae5;
  border-style: none;
  border-color: #000;
  border-radius: 0;
}

.nav-link-2.w--current {
  color: #3b2ae5;
}

.contact-form {
  padding-top: 100px;
  padding-bottom: 100px;
}

.contact-form-grid {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 40px;
  display: grid;
}

.text-block {
  font-family: Lato, sans-serif;
  font-size: 17px;
  font-weight: 700;
}

.field-label, .field-label-2 {
  font-family: Lato, sans-serif;
  font-size: 17px;
}

.field-label-3 {
  font-family: Lato, sans-serif;
  font-size: 17px;
  font-weight: 700;
}

.field-label-4 {
  font-family: Lato, sans-serif;
  font-size: 17px;
}

.div-block-5 {
  justify-content: center;
  align-items: center;
  display: flex;
}

.checkbox-field, .checkbox-field-2, .checkbox-field-3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.success-message {
  margin-top: 50px;
}

.div-block-6 {
  font-family: Lato, sans-serif;
  font-size: 17px;
  font-weight: 400;
}

.heading-6 {
  text-align: center;
  font-size: 34px;
}

.div-block-7 {
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  display: flex;
  position: relative;
}

.div-block-8 {
  height: 100%;
}

.div-block-9 {
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}

.container-3 {
  line-height: 1.45;
}

.div-block-10 {
  color: #fff;
  background-color: #0a2342;
  border-radius: 6px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 5px 41px;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.heading-7 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Oswald, sans-serif;
  font-size: 23px;
  font-weight: 300;
  line-height: 1.45;
}

.heading-8 {
  color: #1a3066;
  letter-spacing: -.5px;
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 55px;
  line-height: 1;
}

.phone-wrap {
  height: 100%;
  justify-content: center;
  align-self: auto;
  align-items: center;
  margin-right: 15px;
  display: flex;
}

.phone-image {
  text-align: center;
  margin-right: 8px;
  display: block;
}

.navigation {
  z-index: 9;
  min-height: 100px;
  border-bottom: 1px solid rgba(255, 255, 255, .08);
  padding: 25px 5%;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.paragraph-hero {
  max-width: 490px;
  color: #546681;
  font-size: 17px;
  font-style: normal;
  line-height: 1.4;
}

.hero-image-wrap {
  width: 50%;
  min-height: 350px;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  display: flex;
  position: relative;
}

.content-block-hero {
  max-width: 590px;
  position: relative;
}

.phone-text {
  color: #546681;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  display: flex;
}

.dropdown-list-3 {
  background-color: rgba(0, 0, 0, 0);
}

.dropdown-list-3.w--open {
  z-index: 7;
  min-width: 460px;
  border-radius: 15px;
  padding-top: 15px;
}

.navigation-block-right {
  width: 50%;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.header {
  min-height: 72vh;
  background-image: url('../images/bg_shade.svg');
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: center;
  align-items: center;
  padding: 120px 0% 80px;
  display: flex;
}

.hero-block {
  width: 50%;
  min-height: 350px;
  justify-content: flex-start;
  align-items: center;
  padding-left: 50px;
  display: flex;
}

.feature-content-wrap {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.navigation-link-wrap {
  flex-wrap: nowrap;
  align-items: center;
  display: flex;
}

.hero-content {
  display: flex;
}

.button-wrap-hero {
  margin-top: 35px;
}

.button-3 {
  background-color: #484dff;
  border-radius: 45px;
  margin-right: 15px;
  padding: 18px 35px;
  font-size: 16px;
}

.navigation-block-left {
  width: 50%;
  align-items: center;
  display: flex;
}

.feature-icon {
  width: 26px;
  margin-right: 16px;
}

.dropdown-list-wrap {
  z-index: 9;
  background-color: #fff;
  border-radius: 15px;
  padding: 15px 12px;
  display: flex;
  position: relative;
  overflow: visible;
  box-shadow: 1px 1px 9px rgba(44, 62, 80, .1);
}

.link {
  color: #546681;
  font-size: 16px;
  text-decoration: none;
}

.link:hover {
  color: #484dff;
}

.paragraph-small {
  max-width: 450px;
  color: #3b4c5b;
  letter-spacing: -.2px;
  margin-bottom: 0;
  font-size: 14px;
}

.container-navigation {
  width: 100%;
  max-width: 1240px;
  flex: 1;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.container-4 {
  width: 100%;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

.logo-image {
  width: 120px;
}

.navigation-text {
  width: 7vw;
  text-decoration: none;
}

.feature-wrap {
  border-radius: 10px;
  align-items: flex-start;
  padding: 15px 12px 15px 10px;
  text-decoration: none;
  transition: all .3s;
  display: flex;
}

.feature-wrap:hover {
  background-color: rgba(72, 77, 255, .03);
}

.navigation-link {
  color: #546681;
  flex-direction: row;
  align-items: center;
  padding: 12px 14px;
  font-size: 16px;
  text-decoration: none;
  transition: color .2s;
  display: flex;
}

.navigation-link:hover {
  color: #484dff;
}

.dropdown-column {
  width: 50%;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.arrow-down {
  margin-left: 8px;
  margin-right: 7px;
}

.dropdown-mobile, .mobile-button-link {
  display: none;
}

.link-block {
  text-decoration: none;
}

.short-title {
  color: #2e3642;
  margin-bottom: 2px;
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
}

.service-card {
  height: 100%;
  background-color: #fff;
  border-radius: 15px;
  flex-direction: column;
  align-content: stretch;
  justify-content: flex-end;
  align-items: center;
  padding: 60px 25px;
  display: flex;
  box-shadow: 14px 14px 200px rgba(0, 22, 50, .06);
}

.service-icon {
  width: 70px;
  margin-bottom: 25px;
}

.card-content-wrap {
  color: #6b539a;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 25px;
}

.heading-3 {
  color: #2e3642;
  text-align: center;
  margin-top: 0;
  margin-bottom: 8px;
}

.paragraph-7 {
  max-width: 320px;
  color: #546681;
  text-align: left;
  font-size: 17px;
  line-height: 1.4;
}

.button-default {
  background-color: #484dff;
  border-radius: 50px;
  padding: 18px 35px;
  font-size: 16px;
  transition: all .2s;
}

.button-default:hover {
  background-color: #343af0;
}

.paragraph-8, .paragraph-9, .paragraph-10 {
  font-size: 16px;
}

.c-nav_dropdown {
  height: 0;
  max-height: 0;
  min-height: 0;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.c-nav_link-wrap, .c-nav_menu-links {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.c-nav_button {
  color: #0f0e17;
  text-align: center;
  background-color: #fff;
  border-radius: .6em;
  padding: .8em 2.2em;
  font-size: 1.1vw;
}

.is--hidden-empty {
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
}

.c-nav {
  z-index: 2000;
  background-color: rgba(15, 14, 23, .9);
  justify-content: space-between;
  align-items: center;
  padding-left: 3.8em;
  padding-right: 3.8em;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.c-nav_dropdown-item {
  width: 100%;
}

.c-nav_icon {
  width: .7em;
  height: .3em;
  justify-content: center;
  align-items: center;
  margin-left: .3em;
  display: flex;
}

.c-svg {
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.c-nav_menu {
  width: 50em;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.c-nav_link {
  color: #fff;
  cursor: pointer;
  align-items: center;
  padding: 1.8em 1em;
  display: flex;
  position: relative;
}

.c-nav_hamburger {
  display: none;
}

.c-nav_menu-scroll {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.c-nav_dropdown-list {
  width: 13em;
  background-color: #27262e;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: none;
  position: relative;
}

.c-nav_link-text {
  letter-spacing: .2em;
  text-transform: uppercase;
  font-size: .7em;
  font-weight: 700;
  line-height: .9;
}

.div-block-11 {
  width: 50vw;
}

.collection-item {
  flex-direction: column;
  align-items: center;
}

.collection-list {
  display: flex;
}

.collection-item-2 {
  width: 100vw;
}

.collection-list-2 {
  width: 25vw;
}

.collection-list-wrapper {
  align-items: center;
}

.collection-item-3 {
  width: 25vw;
  flex-direction: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  display: flex;
}

.link-block-2 {
  color: #333;
  text-decoration: none;
}

.text-span {
  text-decoration: underline;
}

@media screen and (max-width: 991px) {
  .hero-section-01 {
    background-position: 50%;
    background-size: cover;
  }

  .hero-content-01 {
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .section-2 {
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .footer-wrap-02 {
    flex-direction: column;
    justify-content: flex-start;
  }

  .hero-content-03 {
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .inner-hero-content-03 {
    border-left-style: none;
    padding-left: 0;
    padding-right: 0;
  }

  .hero-03-image-wrap {
    width: 100%;
    position: static;
  }

  .button-2.nav {
    display: none;
  }

  .paragraph-3 {
    padding-left: 76px;
    padding-right: 76px;
    font-size: 23px;
  }

  .container-2 {
    height: 772px;
  }

  .div-block-4.class-1.class-2 {
    flex-direction: column;
  }

  .heading-5 {
    font-size: 27px;
  }

  .paragraph-6.classes._2 {
    padding-left: 0;
  }

  .footer-section-01 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .menu-button {
    padding: 12px;
  }

  .menu-button.w--open {
    background-color: #fff;
  }

  .nav-inner {
    padding: 10px 20px;
  }

  .nav-menu {
    background-color: #fff;
    box-shadow: 0 14px 13px -3px rgba(0, 0, 0, .11);
  }

  .nav-link-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .hamburger {
    width: 40px;
    padding-top: 3px;
  }

  .div-block-7 {
    width: 75%;
    margin-right: 0;
  }

  .heading-8 {
    text-align: center;
  }

  .mobiel-dropdown {
    right: 10%;
  }

  .mobiel-dropdown.w--open {
    min-width: 270px;
    background-color: #fff;
    border-radius: 15px;
    margin-top: 74px;
    padding: 20px;
    box-shadow: 1px 1px 3px rgba(84, 102, 129, .13);
  }

  .paragraph-hero {
    text-align: center;
  }

  .hero-image-wrap {
    width: 100%;
    min-height: auto;
  }

  .content-block-hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
    display: flex;
  }

  .navigation-block-right {
    width: 100%;
  }

  .header {
    padding-top: 160px;
  }

  .hero-block {
    width: 100%;
    justify-content: center;
  }

  .navigation-link-wrap {
    display: none;
  }

  .hero-content {
    flex-wrap: wrap;
  }

  .feature-icon {
    margin-bottom: 15px;
  }

  .container-navigation {
    z-index: 99;
    position: relative;
  }

  .feature-wrap {
    flex-direction: column;
  }

  .dropdown-toggle-2 {
    padding: 0;
  }

  .dropdown-link {
    width: 100%;
    min-width: 170px;
    color: #3b4c5b;
    border-radius: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
  }

  .dropdown-link:hover {
    background-color: rgba(115, 167, 212, .09);
  }

  .dropdown-link.w--current {
    color: #ff6f20;
  }

  .dropdown-mobile {
    margin-left: 15px;
    margin-right: 0;
    display: flex;
  }

  .mobile-button-link {
    width: 55px;
    height: 55px;
    background-color: rgba(84, 102, 129, .08);
    border-radius: 50px;
    padding: 17px;
    display: flex;
  }

  .c-nav_dropdown {
    width: 100%;
    height: auto;
    max-height: none;
    min-height: 0;
    display: block;
    position: relative;
    overflow: hidden;
  }

  .c-nav_link-wrap {
    width: 100%;
    min-height: 3em;
    border-bottom: .1em solid #191821;
    justify-content: space-between;
    padding: .9em 1.1em;
  }

  .c-nav_menu-links {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: block;
  }

  .c-nav_button {
    width: 100%;
    margin-top: 2.2em;
    font-size: 18px;
  }

  .c-nav_hamburger_icon {
    width: 2em;
  }

  .c-nav {
    padding: 1em 2.1em;
  }

  .c-nav_menu {
    z-index: 1;
    width: 100vw;
    height: 0;
    background-color: #0f0e17;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: none;
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
    overflow: hidden;
  }

  .c-nav_link {
    width: 100%;
    border-bottom: .1em solid #191821;
    padding-top: .9em;
    padding-bottom: .9em;
    font-size: 20px;
  }

  .c-nav_link.is--dropdown {
    border-bottom-width: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
  }

  .c-nav_hamburger {
    z-index: 2;
    display: block;
    position: relative;
  }

  .c-nav_menu-scroll {
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5.9em 3.8em 8.2em;
    overflow: scroll;
  }

  .c-nav_dropdown-list {
    width: 100%;
    height: auto;
    display: block;
    top: 0;
  }

  .c-nav_link-text {
    line-height: 1.5;
  }

  .c-logo_wrap {
    z-index: 3;
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  .heading-1 {
    font-size: 35px;
    line-height: 45px;
  }

  .card-01-grid {
    grid-template-columns: 1fr;
  }

  .brand-link.in-footer {
    padding-left: 0;
  }

  .hero-content-03 {
    padding-bottom: 40px;
    padding-left: 0;
    padding-right: 0;
  }

  .hero-section-03 {
    flex-direction: column;
    padding: 100px 20px;
  }

  .heading-4 {
    font-size: 3em;
  }

  .paragraph-3 {
    padding-left: 91px;
    padding-right: 91px;
    font-size: 17px;
  }

  .container-2 {
    height: auto;
  }

  .footer-section-01 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .grid-sec-1 {
    margin-bottom: 40px;
  }

  .footer-01-div {
    grid-template-columns: 2fr;
  }

  .contact-form {
    padding: 40px 20px;
  }

  .phone-wrap, .navigation-link-wrap {
    display: none;
  }

  .c-nav_menu-scroll {
    padding-left: 2em;
    padding-right: 2em;
  }
}

@media screen and (max-width: 479px) {
  .inner-hero-content-01 {
    padding: 40px 20px;
  }

  .hero-section-01 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .brand-link {
    padding-left: 0;
  }

  .socials-in-footer {
    margin-left: -20px;
  }

  .footer-section-02 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .platform-icon {
    min-height: 22px;
    min-width: 22px;
  }

  .footer-wrap-02 {
    text-align: center;
  }

  .social-link-nav {
    margin-bottom: 10px;
  }

  .inner-hero-content-03 {
    padding: 0;
  }

  .hero-03-image-wrap {
    height: 300px;
  }

  .heading-4 {
    font-size: 2.3em;
  }

  .paragraph-3 {
    padding-left: 13px;
    padding-right: 13px;
    font-size: 15px;
  }

  .columns {
    padding-left: 15px;
    padding-right: 15px;
  }

  .paragraph-4, .list {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }

  .paragraph-6 {
    text-align: center;
  }

  .paragraph-6.classes._2 {
    text-align: left;
  }

  .footer-01-bottom {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  .div-block-7 {
    width: auto;
    margin-left: 25px;
    margin-right: 25px;
  }

  .div-block-8 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .phone-wrap {
    display: none;
  }

  .navigation {
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero-image-wrap {
    padding: 10px;
  }

  .dropdown-list-2 {
    border-radius: 0;
  }

  .dropdown-list-2.w--open {
    background-color: #fff;
    border-radius: 0 0 35px 35px;
  }

  .hero-block {
    padding-left: 10px;
    padding-right: 10px;
  }

  .button-wrap-hero {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .button-3 {
    margin-bottom: 15px;
    margin-right: 0;
  }

  .c-nav, .c-nav_menu-scroll {
    padding-left: 6vw;
    padding-right: 6vw;
  }
}

#w-node-_03533467-f995-c6de-5066-7a1521c7b101-247d8d9e {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

@media screen and (max-width: 479px) {
  #w-node-_03533467-f995-c6de-5066-7a1521c7b0f1-247d8d9e, #w-node-_03533467-f995-c6de-5066-7a1521c7b0f5-247d8d9e, #w-node-_03533467-f995-c6de-5066-7a1521c7b0f9-247d8d9e, #w-node-_03533467-f995-c6de-5066-7a1521c7b0fd-247d8d9e {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }
}


